.container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto); 
}

.photo1 {
    grid-column: span 1;
    grid-row: span 2;
}